<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FCM HOME</title>
    <style media="screen">
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
    </style>
  </head>
  <body>
    <h1>Send Messages:</h1>
    <hr><br>
    <h3>List Of Devices</h3>

    <hr><br>
<form class="" action="{% url 'home'  %}" method="POST">

    <table style="width:100%">
  <tr>
<th>
  <input type="checkbox" name="allId" value="" onclick="toggle(this);" >
</th>
    <th>FCM Device</th>
    <th >FCM Type</th>
    <th>Created at</th>
  </tr>
{% for device in devices  %}
  <tr>
    <td><input type="checkbox" name="Id" value="{{device.id}}"></td>
    <td>{{device.name}}</td>
    <td>{{device.type}}</td>
    <td>{{device.date_created}}</td>
  </tr>


  {% endfor %}
</table>

  Meassage Title:<br>
  <input type="text" name="messageTitle"><br>
  Messagae<br>
  <input type="text" name="message">
  <input type="submit" name="" value="submit">

</form>
<script type="text/javascript">

function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
}

</script>

  </body>
</html>
