<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>form</title>
  </head>
  <body>
<h1>form</h1>
<form  action="index.html" method="post">
  {% csrf_token %}
    {{form.as_p}}
<button type="submit">Upload</button>
</form>
  </body>
</html> -->
